.container {
  margin-inline: 1.75rem;
}

.activity {
  display: flex;
}

.shelf {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  border-bottom: solid black 15px;
}

.slot {
  display: flex;
  gap: 0.5rem;
  padding: 1.25rem;
  padding-bottom: 0;
}

.slot > * {
  padding: 0.5rem;
}

.book {
  background-color: var(--clr-accent-0);
  color: var(--clr-light-0);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  width: 10vw;
  min-height: 50vh;
  padding: 0.75rem;
  padding-bottom: 0;
}

.book > p:last-child {
  margin-top: auto;
}
