.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-style);
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

.level {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.75rem;
  justify-items: center;
  margin-inline: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.level > * {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info span {
  font-size: 0.75rem;
}

.info > *:not(em) {
  font-weight: 700;
}

.levelCompleted {
  color: var(--clr-success);
}

.levelInProgress {
  color: var(--clr-danger);
}
